* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Atma', sans-serif;
  background: linear-gradient(to top, #72e67e, #042f15);
  background-color: #094c09fb;
  color: #ecf0f1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr fr;
  grid-template-rows: auto auto auto auto;
  gap: 50px;
  padding: 5px;
  text-align: center;
  grid-template-areas: "dealer controls" "player controls";
}
.title-header {
  grid-row: 1;
}

.title-header h1 {
  font-size: 100px;
  color: #f1c40f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: 'Barrio', sans-serif;
}

.title-header h3#message {
  grid-row: auto;
}

.title-header h3#message {
  font-size: 1.5em;
  color: #ddd911;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  font-family: 'Atma', sans-serif;
}

#hand-active-controls>#dbl-btn:disabled {
  background: gray;
}

.game-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px dotted gray;
  padding: 10px;
  margin: 20px;
  min-height: 100px;
}

#dealer-hand {
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-width: 260px;
  min-height: 220px;
  border: 4px solid #e74c3c;
}

#player-hand {
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-width: 260px;
  min-height: 220px;
  border: 4px solid #000000;
}

.card {
  width: 100px;
  height: 140px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: rgb(114, 170, 215);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #f1f5f8;
  border: 1px solid #34495e;
  border-radius: 4px;
  background-color: #010303;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
}

button:hover {
  background-color: #626886;
  color: #ecf0f1;
}

.controls {
  grid-area: controls;
  flex-direction: row;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border: 4px transparent #ef0764;
}

.player-section {
  grid-row: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dealer-section {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#deal-btn {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #34495e;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to top, #ff3333, #ff6666);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s, box-shadow 0.1s;
}

#betting-controls {
  box-shadow: 0 5px topx;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 0%;
}

.betting-container {
  display: flex;
  flex-wrap: wrap;
  grid-row: auto;
  grid-area: betting;
  text-align: center;
}

.bet-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #34495e;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to top, #ff3333, #ff6666);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s, box-shadow 0.1s;
}

.bet-btn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.bet-btn:active {
  transform: translateY(4px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.bet-btn[data-amount="10"] {
  background: linear-gradient(to top, #880000, #eeedec);
}

.bet-btn[data-amount="20"] {
  background: linear-gradient(to top, #7cc261, #696666);
}

.bet-btn[data-amount="50"] {
  background: linear-gradient(to top, #002b88, #eeedec);
}

.bet-btn[data-amount="100"] {
  background: linear-gradient(to top, #000000, #eeedec);
}

.bet-btn[data-amount="500"] {
  background: linear-gradient(to top, #5b0088, #eeedec);
}

#hand-active-controls button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #34495e;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(to bottom, #db8a34, #b92963);
  cursor: pointer;
  outline: none;
  transition: transform 0.2s, background 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

#hand-active-controls button:hover {
  background: linear-gradient(to bottom, #5dade2, #2980b9);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

#hand-active-controls button:active {
  transform: translateY(4px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#player-total {
  display: flex;
  /* justify-content: space-around; */
  font-size: 2.5em;
  color: #47460a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-family: 'Atma', sans-serif;
}

#dealer-total {
  display: flex;
  /* justify-content: space-around; */
  font-size: 2.5em;
  color: #47460a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-family: 'Atma', sans-serif;
}